body {
	margin: 0% auto;
	text-align: center;
	font-family: "Raleway", sans-serif;
	font-size: 210%;
	margin: none;
	margin-top: 0;
	-webkit-font-smoothing: antialiased;
	background: linear-gradient(black 65%, violet); /*#5362c7, #d84c5d, #f46d1c*/ 
}

#header{
	width: 100%;
	height: 100vh;
	background-size: 100% 100%;
	margin-bottom: ;	
}

#parallax-section-one {
  height: 75vh;
}

#parallax-container-one {
  height: 85vh;
  margin-top: 10vh;
  background: url('images/Sunset.gif');
  background-size: 100% 100%;
  background-position: center;
  background-attachment: fixed;
}

nav ul li {
	display: inline-block;
	list-style: none;
}

.navbar {
	position: absolute;
	top: 7px;
	width: 100%;
	height: 70px;
	word-spacing: 30px;
	text-align: center;
	padding: 5px;
	display: flex;
	align-items: right;
	justify-content: right;
	/*right: 0%;*/
	/*background: rgba(115, 115, 115, 0.8);*/
}

#nav-words {
	color: white;
	font-weight: 400;
	font-size: ;
	text-align: center;
    text-decoration: none;
    /*text-shadow: 2px 2px purple;*/
}

#nav-words:hover {
	/*color: #433eda; */
	font-weight: 400;
	font-weight: bold;
	word-spacing: 40px;
}

#display {
	
}

#handle {
	position: absolute;
	width: 100%;
	text-align: center;
	top: 130px;
	color: white;
	font-family: Lobster;	
	font-size: 300%;
	font-weight: 400;
	text-shadow: 2.5px 2.5px black;
}

#topQuote{
	position: absolute;
	width: 100%;
	top: 240px;
	font-size: ;
	color: white;
	text-shadow: 1px 1px black;
	font-weight: 400;
	text-align: center;
	line-height: 1.2;
	/*background: rgba(67, 62, 218, 0.4);*/
}

#paragraph {
	font-size: ;
	color: white;
	/*background: rgba(10, 10, 10, 0.6);*/
	text-align: center;
	margin: 0% auto;
	width: 70%;
	margin-top: 100px;
}

#portfolio {
	font-family: Lobster;
	color: violet;
	width: 100%;
	text-align: center;
	margin-top: 50px;
	margin-bottom: ;
	text-shadow: 1px 1px purple;
	font-size: 250%;
}

#projects-row{
	width: 100%;
	padding: 25px;
}

#project-columns {
	padding: 0px 40px;
}

.thumbnail img {
	width: 100%;
	/*height: 100%;*/
}

.caption p{
	font-size: ;
}

#div-section-parallax-two {
	width: 100%;
}

#parallax-section-two {
  height: 50vh;
}

#parallax-container-two {
	width: 100%;
	height: 50vh;
  	background: url('images/sunset.jpeg');
  	background-size: 100% 100%;
  	background-position: center;
  	background-attachment: fixed;
}

#last-section {
	width: 100%;
	height: 100%;
	background-color: transparent;
	margin-bottom: 50px;
	
}

#row-sponsor{
	width: 100%;
	height: 100%;
	margin: 75px 0px 30px 0px;
	background-color: transparent;
}

#sponsor {
	text-align: center;
    color: white;
    text-shadow: 2px 2px black;
    font-family: Lobster;
}

#descriptions {
	display: none;
}

#row-contain-last-section{
	margin: 0% auto;
	width: 90%;

}

#div-contain-circles {
	/*margin: 0% auto;*/
	/*text-align: center;*/
	/*margin-bottom: 15px;*/
    background-color: transparent;
    display: inline-block;
    width: 100%;
}

.circle {
	margin: 0% auto;
	display: inline-block;
	width: 200px;
	height: 200px;
	border-radius: 100%;
	text-align: center;
	color: black;
	position: relative;
	margin-bottom: 20px;
	background-repeat: repeat-x;
}

#circleOne {
	background-image: url("images/backpack.jpeg");
	background-size: 100% 95%;
	left: 0%;
	background-color: white;
	
}

#circleOne-text {
	font-size: 100%;
	position: absolute;
	top: 10%;
	left: 3%;
	color: black;
	font-size:;
	text-align: center;
}

#circleTwo {
	background-image: url("images/fashion2.jpeg");
	background-size: 125% 125%;
	
}

#circleTwo-text {
	position: absolute;
	text-align: center;
	color: black;
	font-size: 110%;
	top: 32%;
	left: 17%;
}

#circleThree {
	background-image: url("images/clipper2.jpeg");
	background-size: 100% 110%;
	/*clear: both;*/
}


#circleThree-text {
	position: absolute;
	font-size: 110% ;
	top: 34%;
	left: 17%;
	color: black;
}

#formsBox{
	margin: 0% auto;
	width: 80%;
	height: 100%;
	/*left: 0px;*/
	padding: 5px 40px;
	border: 2px dashed white;
	margin-top: 30px;
	margin-bottom: 30px;
	background-color: transparent;
}

label {
	font-size: ;
	color: white;
	text-shadow: 1px 1px black;
}

.form-control {
	margin: 0% auto;
}

#comment_ {
	width: 80%; 
}



















@media screen and (min-device-width: 375px) and (max-device-width: 667px) {
    body {
    	margin: 0% auto;
		font-size: 200%;
		margin: none;
		margin-top: 0;
		background: linear-gradient(black 60%, violet);
		text-align: center;
		-webkit-font-smoothing: antialiased;
	}

	#header{
		width: 100%;
		height: 100%;
		background: url('images/Aurora.jpeg');
		background-size: 130% 130%;
		margin-bottom: ;
		margin: 0% auto;
		text-align: center;

    }


	.navbar {
		position: absolute;
		top: 7px;
		width: 100%;
		height: 70px;
		word-spacing: 15%;
		/*text-align: center;*/
		padding: 5px;
		display: flex;
		align-items: right;
		justify-content: right;
		/*right: 0%;*/
		/*background: rgba(115, 115, 115, 0.8);*/
	}

	#nav-words {
		color: white;
		font-weight: 400;
		font-size: 300%;
		text-align: center;
    	text-decoration: none;
    	/*text-shadow: 2px 2px purple;*/
	}

	#nav-words:hover {
		/*color: #433eda; */
		font-weight: 400;
		font-weight: bold;
		word-spacing: 40px;
	}

	#handle {
	position: absolute;
	width: 100%;
	text-align: center;
	top: 300px;
	color: white;
	font-family: Lobster;	
	font-size: 700%;
	font-weight: 400;
	text-shadow: 2.5px 2.5px black;
}

	#topQuote{
		position: absolute;
		text-align: center;
		margin: 0% auto;
		width: 100%;
		height: ;
		top: 600px;
		font-size: 350%;
		color: white;
		text-shadow: 1px 1px black;
		font-weight: 400;
		line-height: 1.5;
	/*background: rgba(67, 62, 218, 0.4);*/
	}


    #parallax-section-one {
  		height: 90vh;
  		
	}

	#parallax-container-one {
		
  		height: 90vh;
  		margin-top: 8vh;
  		background: url('images/Sunset.gif');
  		background-position: center;
  		background-attachment: fixed;
  		/*background-repeat: no-repeat;*/
  		
	}

    #paragraph{
    	font-size: 300%;
    	width: 90vw;
    }

    #portfolio{
    	font-size: 550%;
    }

    #projects-row{
	width: 100%;
	height: 100%;
	padding: 5%;
	margin-bottom: 20%;
}

#project-columns {
	width: 100%;
	height: 50%;
	padding: 0px ;
}

.thumbnail {
	height: 100%;
}

.thumbnail img {
	width: 100%;
	
}

.caption h4 {
	font-size: 300%;
	color: purple;
	font-weight: bold;
}

.caption p{
	font-size: 300%;
}

.caption .btn {
	width: 250px;
	height: 130px;
	font-size: 130%;
	/*text-align: center;*/
	margin-top: 5%;
}

    #parallax-section-two {
  		height: 30vh;
	}

    #parallax-container-two {
		width: 100%;
		height: 30vh;
  		background: url('images/sunset.jpeg');
  		background-size: 200% 100%;
  		background-position: center;
  		background-attachment: fixed;
	}

	#row-sponsor{
		width: 100%;
		height: 100%;
		margin: 200px 0px 30px 0px;
	}

	#sponsor {
		font-size: 550%;
		text-align: center;
    	color: white;
    	text-shadow: 2px 2px black;
    	font-family: Lobster;
	}

	#descriptions {
		color: white;
		font-size: 290%;
		display: inline-block;
	}

	#div-contain-circles {
		width: 100%;
		height: 100%;
		margin: 0% auto;
		text-align: center;
		margin-bottom: 15px;
    	background-color: transparent;
    	display: inline-block;

	}

	.circle {
		margin: 0% auto;
		display: inline-block;
		width: 600px;
		height: 600px;
		border-radius: 100%;
		text-align: center;
		color: black;
		position: relative;
		margin-bottom: 15px;
		background-repeat: no-repeat;
	}

	#circleOne {
	background-image: url("images/backpack.jpeg");
	background-size: 100% 95%;
	font-size: ;
	left: 0%;
	background-color: white;
	
}

	#circleOne-text {
		position: absolute;
		top: 10%;
		left: 3%;
		color: black;
		font-size: 290%;
		text-align: center;
	
	}


	#circleTwo {
		background-image: url("images/fashion2.jpeg");
		background-size: 125% 125%;
		/*display: inline-block;*/
	
	}

	#circleTwo-text {
	position: absolute;
	text-align: center;
	vertical-align: middle;
	color: black;
	font-size: 400% ;
	top: 30%;
	left: 11%;
}


	#circleThree {
		background-image: url("images/clipper2.jpeg");
		background-size: 100% 110%;
		/*display: inline-block;*/
	}

	#circleThree-text {
	position: absolute;
	font-size: 400%;
	top: 30%;
	left: 12%;
	color: black;
	text-align: center;
	vertical-align: middle;
		line-height: ;  
}

	#formsBox{
	margin: 0% auto;
	width: 95%;
	height: 100%;
	/*left: 0px;*/
	padding: 5% 5%;
	border: 4px dashed white;
	margin-top: 30px;
	margin-bottom: 30px;
	background-color: transparent;
}

	label {
		font-size: 110%;
		color: white;
		text-shadow: 1px 1px black;
	}

	.form-group{
		font-size: 300%;
	}

	.form-control {
		margin: 0% auto;
		font-size: 100%;

	}

	#name_ {
		width: 100%;
		height: 50%;
	}
	#email_ {
		width: 100%;
		height: 50%;
		margin-bottom: 4%;
	}

	#comment_ {
		width: 80%; 
	}

	.form-group button {
		width: 240px;
		height: 100px;
		font-size: 110%;
	}





}